
@import './fonts';

.row {
	display: flex;
	margin-bottom: 2rem;
}

.column {
	flex: 1;
	padding: 2rem;
	height: 40vh;

	display: flex;
	justify-content: flex-start;
	align-items: center;

	background-size: cover;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.5); // image overlay

	h1 {
		@include heading1;
		text-transform: uppercase;
	}
}


.column:hover {
	transition-duration: 0.5s;
	transition-timing-function: ease;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,0); // image overlay
	filter: saturate(120%);
}

.column1 {
	margin-right: 2rem;
}