@import './colours';

.button-container {
	padding: 0.5rem 1.5rem 0.5rem 1.5rem;
	outline: none;
	border: none;
	border-radius: 25px;
	color: $white;
	transition-duration: 0.5s;
}

.button-container:hover {
	filter: brightness(0.8);
	
}

a {
	text-decoration: none;
}

.button-container {}
