@import './colours';
@import './fonts';

.contact {
	padding: 6rem 4rem 1.5rem;
	display: flex;
	flex-direction: column;
	color: $white;

	// divider
	position: relative;
	background: $black;
	height: 100%;
	border-top-left-radius: 50% 7%;
	border-top-right-radius: 50% 7%;
}

.contact-head {
	h6 {
		@include heading6;
	}
	h1 {
		@include heading1;
		color: $white;
	}
}

.contact-margin-left {
	/*margin-left: 25rem;*/
	display: flex;
	justify-content: flex-end;
}

.contact-info {
	display: flex;
	flex-direction: row;
	font-size: $footer-font-size;
}

.head-office {
	margin-right: 4rem;

	.head-text {
		margin-bottom: 0.5rem;
		font-weight: $footer-font-weight-header;
	}
}

.phone-email {
	.phone {
		p {
			span {
				margin-left: 1rem;
			}
			.toronto {
				margin-left: 2rem;
			}
		}
	}

	.email {
		margin-top: 1.5rem;
	}
}

.email-list {
	/*margin-top: 5rem;*/
	margin-bottom: 2rem;
	margin-left: 4rem;
	h2 {
		font-size: $footer-font-size;
		font-weight: $footer-font-weight-header;
		margin-bottom: 2rem;
	}

	input {
		width: 20rem;
		padding: 0.5rem 0.5rem 0.5rem 0rem;
		outline: none;
		background-color: $black;
		border: none;
		border-bottom: 1px solid grey;
		color: $white;
	}

	input:focus {
		border-bottom: 1px solid $white;
		transition: all 0.3s ease;
	}

	button {
		padding: 0.5rem;
		margin-left: 0.5rem;
		border: none;
		outline: none;
		border-bottom: 1px solid $pale-red;
		color: $white;
		background-color: $black;
	}
	button:hover {
		background-color: $pale-red;
		transition: all 0.3s ease;
	}

}

.social-terms {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	.terms {
		p {
			font-size: 0.5rem;
			color: grey;
		}
		
	}
}
