@import './colours';
@import './fonts';

.our-services {
	margin-top: 15rem;
	padding: 6rem 4rem 0;
}

.our-services-head {
	h6 {
		@include heading6;
	}
	h1 {
		@include heading1;
		color: $black;
	}
}