@import './colours';
@import './fonts';


.our-approach {
	padding: 6rem 4rem 0;
	background-color: $black;

	.card-container {
		color: $white;
	}
}

.our-approach-head {
	h6 {
		@include heading6;
	}
	h1 {
		@include heading1;
	}
}